[submodule "pvector"]
	path = pvector
	url = https://github.com/pidhii/pvector.git
[submodule "forest"]
	path = forest
	url = https://github.com/pidhii/forest.git
[submodule "radixtrees"]
	path = radixtrees
	url = https://github.com/pidhii/radixtrees.git
[submodule "cpp-base64"]
	path = cpp-base64
	url = https://github.com/ReneNyffenegger/cpp-base64.git
